{% extends 'inicio/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}
<h1 class="d-flex justify-content-center">Carrito de compras</h1>

<div class="cart d-flex justify-content-center">
<table class="table table-dark table-hover">
  <head>
    <th>Logotipo</th>
    <th>Producto/descripción</th>
    <th>Cantidad</th>
    <th>Precio</th>
    <th>Borrar</th>
  </head>
    <tbody>
      {% if request.session.cart_number.items %}
      {% for key, value in request.session.cart_number.items %}
        <tr>
          <td><img src="{{value.image}}" alt="promo"></td>
          <td> 
              <h5>{{value.name}}</h5>
              <p>{{value.description}}</p> 
          </td>
          <td>
            <a href="{% url 'decrement' value.product_id %}" class="badge rounded-pill text-bg-danger">-</a>
            x {{value.quantity}}
            <a href="{% url 'add' value.product_id %}" class="badge rounded-pill text-bg-success">+</a>
          </td>
          <td>${{value.price|intcomma}}</td>
          <td><a href="{% url 'remove' value.product_id %}" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></a></td>
        </tr>
      {% endfor %}
      {% else %}

      <tr>
        <td colspan="5">
               <div class="alert alert-danger" role="alert">
        No hay productos en el carrito
      </div> 
        </td>
      </tr>
      {% endif %}
      {% if request.session.cart_number  %}
      <tr>
        <td colspan="4"></td>
        <td> Total ${{request.session.cart_total|intcomma}}</td>
      </tr>
      {% endif %}
      <tr>
        <td colspan="4"></td>
        <td>
          {% if request.session.cart_number  %}
          <a href="{% url 'checkout' %}"><button class="strong w-98">Pagar</button></a>
          {% endif %}
          <a href="{% url 'all_products' %}" class="light w-98">Seguir Comprando</a>        
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
{% endblock body %}
