{% extends 'inicio/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="container">
    <main>
      <div class="text-center">
        <img class="d-block mx-auto" src="{% static 'inicio/Images/logo.png' %}" alt="" width="102">
        <h2>Terminar Compra</h2>
        <p class="lead">Muchas gracias por preferirnos, a continuacion encontraras el detalle de tu compra</p>
      </div>
      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Tu Carrito</span>
            <span class="badge bg-primary rounded-pill">{{request.session.cart_quantity}}</span>
          </h4>
          <ul class="list-group mb-3">
            {% if request.session.cart_number.items %}
            {% for key, value in request.session.cart_number.items %}
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">{{value.name}} - x{{value.quantity}}</h6>
                <small class="text-muted">{{value.description}}</small>
              </div>
              <span class="text-muted">${{value.price|intcomma}}</span>
            </li>
            {% endfor %}
            {% endif %}

            <!--MOSTRAR CUPON-->
            {% comment %} <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Cupón</h6>
                <small>Cupón de ejemplo</small>
              </div>
              <span class="text-success">−$5000</span>
            </li> {% endcomment %}

            <li class="list-group-item d-flex justify-content-between">
              <span>Total (Pesos Chilenos)</span>
              <strong>${{request.session.cart_total|intcomma}}</strong>
            </li>
          </ul>
  
          <!--APLICAR CUPON-->
          {% comment %} <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
          </form> {% endcomment %}
          
        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Datos para el envío</h4>
          <form class="needs-validation" method="POST" novalidate>
            {% csrf_token %}
            <div class="row g-3">
  
              <div class="col-12">
                <label for="address" class="form-label">Dirección</label>
                {{form_detail.address}}
                <div class="invalid-feedback">
                  Porfavor ingresa una dirección válida
                </div>
              </div>
  
              <div class="col-12">
                <label for="address2" class="form-label">Número Interior / Depto <span class="text-muted">(Opcional)</span></label>
                {{form_detail.interior_number}}
              </div>
  
              <div class="col-md-4">
                <label for="state" class="form-label">Comuna</label>
                  {{form_detail.comuna}}
                <div class="invalid-feedback">
                  Indicanos una ciudad valida
                </div>
              </div>

              <div class="col-md-4">
                <label for="state" class="form-label">Región</label>
                {{form_detail.region}}
                <div class="invalid-feedback">
                  Indicanos una ciudad valida
                </div>
              </div>

              <div class="col-md-4">
                <label for="email" class="form-label">WhatsApp</label>
                {{form_detail.phone}}
                <div class="invalid-feedback">
                  Porfavor indicanos un Whats App valido para enviarte informacion importante de tu pedido
                </div>
              </div>
  
            </div>
  
            <hr class="my-4">
    
            <button class="w-100 btn btn-primary btn-lg" type="submit">Continuar para pagar...</button>
          </form>
        </div>
      </div>
    </main>
  
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Aviso de Privacidad</a></li>
        <li class="list-inline-item"><a href="#">Terminos y condiciones</a></li>
        <li class="list-inline-item"><a href="#">Ayuda</a></li>
      </ul>
    </footer>
  </div>
{% endblock body %}