{% extends 'inicio/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}

<div class="mobile">
  <h1> Nombre del Producto</h1>
</div>
<div class="details">
  <div class="mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/media/{{object.image}}" class="img-fluid rounded-start" alt="Producto">
      </div>
      <div class="col-md-8 main_background">
        <div class="detail-box card-body">
          <div class="description">          
          <h3 class="card-title desktop">{{object.name}}</h3>
          <h4 class="card-text">${{object.price|intcomma}}</h4>
          <p>{{object.description}}</p>
        </div>

          <div class="buttons">          
            <a href="{% url 'cart' %}"><p class="card-text"><button class="btn btn-primary">Comprar</button></p></a>
              <br>
              {% if why %}
                <h5>¿Porque preferirnos?</h5>
                {% for data in why %}
                  <span>🔥 {{data.name}}</span><br>
                {% endfor %}
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <hr class="my-4">

    <h2> Tambien te puede interesar:</h2>
  <div class="details">
    <div class="mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="small" src="/media/{{best_seller.image}}" class="img-fluid rounded-start" alt="{{best_seller.name}}">
        </div>
        <div class="col-md-8 main_background">
          <div class="detail-box card-body">
            <h3 class="card-title desktop">{{best_seller.name}}</h3>
            <h4 class="card-text">${{best_seller.price|intcomma}}</h4>
            <p>{{best_seller.description}}</p>
            <a href="{% url 'details' best_seller.id %}">Más Detalles...</a>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock body %}
