{% extends 'inicio/base.html' %}
{% load static %}
{% block body %}
<!--Carrousel-->
<!--Promo-->
<div class="container-carousel d-flex justify-content-around">
  <div class="desktop promo-desktop">
    <img src="{% static 'inicio/Images/promo.png' %}" class="" alt="...">
    <img src="{% static 'inicio/Images/promo.png' %}" class="" alt="...">
  </div>

  <!--slider-->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      {% for slider in banner %}
      <div class="carousel-item active">
        <img src="/media/{{slider.uploadedFile}}" class="d-block w-100" alt="{{slider.name}}">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div> 

<!--Product-->
<div class="products">
<h2>Cateogrias Populares</h2>
<div class="cat-pop d-flex align-content-center">
    <div class="cat-pop-container d-flex align-content-center flex-wrap">
    {% for categorie in categories %}
        <div class="categories">
            <div class="card bg-orange">
                <img src="/media/{{categorie.banner}}" class="card-img-top" alt="{{categorie.name}}">
                <div class="card-body">
                <h5 class="card-title">{{categorie.name}}</h5>
                <p class="card-text" >Aqui va el texto del {{categorie.description}}</p>
                <a href="{% url 'categories' categorie.pk %}" class="btn btn-primary">Ver Más..</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>  
</div>
<h2>Más Vendidos</h2>
<div class="d-flex align-content-center">
    <div class="d-flex align-content-center flex-wrap">
    {% for product in products %}
      {% include 'inicio/product_card.html' %}
    {% endfor %}
    </div>  
</div>
</div>
  {% endblock body %}