<div class="mt-2">
    <a href="{% url 'home' %}">Inicio</a>              
</div>
<div class="dropdown mt-2">
    <a class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Categorias
    </a>
    <ul class="dropdown-menu cat" aria-labelledby="dropdownMenuButton">
        {% for categorie in categories %}
        <li><a class="dropdown-item" href="{% url 'categories' categorie.pk %}">{{categorie}}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="mt-2">
    <a href="{% url 'cart' %}">Carrito</a>
</div>
<div class="mt-2">
    <a href="#">Contacto</a>
</div>
{% comment %} <div class="menu-desktop mt-2 sub-categorie">
    {% for categorie in categories %}
    <a href="{% url 'categories' categorie.pk%}">{{categorie.name}}</a>
    {% endfor %}
</div> {% endcomment %}