<div class="">
    <a href="{% url 'home' %}" >Inicio</a>              
</div>
<div class="">
    <a href="{% url 'all_products' %}">Productos</a>              
</div>
<div class="dropdown">
    <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" data-hover="dropdown">
        Categorias
    </a>
    <ul class="dropdown-menu cat" aria-labelledby="dropdownMenuButton">
        {% for categorie in categories %}
        <li><a class="dropdown-item" href="{% url 'categories' categorie.pk %}">{{categorie}}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="">
    <a href="{% url 'contact' data_settings.pk %}">Contacto</a>
</div>

