{% extends 'inicio/base.html' %}
{% block body %}
<h1>Estamos procesando tu pago</h1>

<div class="product p-3">
  <h5 style="color:yellow">En este momento estamos procesando tu pago, lamentamos los inconvenientes que esto pueda causar</h5>
  <br>
  <h3>Detalles del Pedido</h3>
  <br>
  <p><span>Número de pedido:</span> {{external_reference}}</p>
  <p><span>Status:</span> {{status}}</p>
  <p><span>Forma de Pago:</span> {{payment_type}}</p>
  <p><span>Comprobante de pago:</span> {{merchant_order_id}}</p>
  <hr>
  Puedes ver el estado de tu pedido <a href="{% url 'orders' user.id %}">aquí</a>
</div>



{% endblock %}