{% extends 'inicio/base.html' %}
{% block head %}Terminos y Codiciones{% endblock head %}
{% block body %}
<div class="m-5">
    <h1>Terminos y Condiciones</h1>
    <h5>Al momento de comprar se da por entendido que aceptas los términos y condiciones.</h5>
    <h6>Es tu responsabilidad leerlos.</h6>
    <h2>PÉRDIDAS Y DAÑOS:</h2>
    <p>
    Nuestra responsabilidad es la de enviar los productos por los cuales pagaste a la dirección que nos indiques, y podemos hacer indemnizaciones del 100% en caso de pérdidas o daños ocasionados por negligencia de la empresa de envíos. Para ello tienes 48 hrs para dar aviso y puedas acceder a esa indemnización completa. En este caso se activa logística inversa para reenviarte el producto o hacerte devolución del dinero, según lo que desees. 
    ¿Cuándo sí corresponde indemnización en un error de fábrica? Mangas con páginas incompletas, a medias en blanco o ilegibles, o problemas de empaste. Figuras con piezas faltantes o con un defecto inusual de pintura. 
    </p>

    <h2>PREVENTAS</h2>

    <p>
    Puedes cancelar tu preventa y recibir de vuelta la mitad del abono que hayas pagado para reservarla (y el 25% en caso de que hayas hecho el pago total). No obstante algunas preventas que son demasiado caras o con pocas posibilidades de venta no se hará la devolución del dinero, esta condición está explicitada en la descripción de cada producto en los Términos de Pre-venta que debes leer antes de comprar. 
    Las fechas de LANZAMIENTO y de LLEGADA SON FECHAS ESTIMADAS Y ESTÁN SUJETAS A CAMBIOS. Es responsabilidad del comprador tomar en cuenta la fechas antes de hacer el pedido y tomar nota de éstas, así como leer detalladamente los términos de preventa en cada producto. Al terminar la preventa el post del producto no estará de nuevo disponible, pero puedes revisar todos tus pedidos al registrarte en nuestra página web. 
    </p>
    <h2>CALIDAD Y CARACTERÍSTICAS DE LOS PRODUCTOS:</h2>
    <p>
    La calidad y características de los productos es la misma que aparece en su descripción y foto. Todas las fotos disponibles en nuestra tienda www.ikigaimanga.cl son sacadas por nosotros con una cámara profesional, de modo que lo que ves ahí es lo que recibirás, pero ten en cuenta que la intensidad del color puede variar según la pantalla y dispositivo del cual revises los productos. Revisamos exhaustivamente todos los productos que vendemos, asegurándonos que no haya nada con daños o desperfectos imprevistos para el comprador. En el único caso en que no disponemos de fotos de nuestra autoría son las preventas (razones obvias). 
    </p>
    <h2>
    PAGO Y CONFIRMACIÓN DE LA ORDEN: 
    </h2>

    <p>
    Aceptamos pagos por tarjeta de crédito, depósito o transferencia. En el caso de pagar con Tarjeta de Crédito. En caso de hacer el pago por depósito o transferencia bancaria, debes seguir las instrucciones que se señalan, esto es, enviarnos el comprobante de depósito o transferencia junto con tu número de Orden a nuestro correo pedidos@ikigaimanga.cl . Tu orden no podrá ser confirmada hasta que lo hagas. Si enviaste correctamente el comprobante, tu pago será confirmado en un plazo de 24 hrs máximo. Si no es así, envíanos un mail para verificar.  
    </p>
    <h2>RECLAMOS Y CONSULTAS:</h2>
    <p>
    Ante cualquier duda o reclamo que tengas, puedes contactarnos a nuestro E-mail pedidos@ikigaimanga.cl. Las noticias importantes las entregamos a través de nuestro instagram @ikigaimanga, al cual puedes acceder en la sección superior de nuestra pagina web.
    </p>
 
</div>
{% endblock body %}
