.data a i{
    margin-right: 2rem;
}
.container-carousel{
    margin: 0;
    padding: 0;
}
.promo-desktop{
    width: calc(30vw - 2rem);
    display: block;
    margin: 1rem;
}
.promo-desktop img{
    display: block;
    width: calc(30vw - 2rem);
}
.carousel{
    width: calc(70vw - 3rem);
    margin: 1rem;
}
.carousel img{
    width: calc(70vw - 3rem);
}
.product{
    width: calc(25vw - 2.4rem);
}
div.menu-mobile{
    display: none;
}
div.menu-desktop{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 70vh;
}
div.menu-desktop a{
    color:
    var(--text_color);
    text-decoration: none;
    font-size: 2rem;
}
div.menu-desktop ul.cat{
    width: 30vw;
}
.categories{
    margin: 1rem;
    width: calc(50vw - 3rem);
}
div.cart{
    /* display: flex; */
}
div.cart table{
    width: 80vw;
}
div.cart .w-98{
    width: 20vw;
}
