body{
    background-color: red;
}
.data a i{
    margin-right: 2rem;
}
.container-carousel{
    margin: 0;
    padding: 0;
}
.promo-desktop{
    width: calc(30vw - 2rem);
    display: block;
    margin: 1rem;
}
.logo a{
    text-decoration: none!important;
    color: var(--text_color)!important;
}
.promo-desktop img{
    display: block;
    width: calc(30vw - 2rem);
}
.desktop{
    display: block;
}
.carousel{
    width: calc(70vw - 3rem);
    margin: 1rem;
}
.carousel img{
    width: calc(70vw - 3rem);
}
.product{
    width: calc(25vw - 2.4rem);
}
.mobile{
    display: none;
}
div.menu-mobile{
    display: none;
}
div.menu-desktop{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 70vh;
}
div.menu-desktop a{
    color:var(--text_color);
    text-decoration: none;
    font-size: 2rem;
}
div.menu-desktop a:hover{
    color: var(--orange_icons);
}
div.menu-desktop ul.cat{
    width: 30vw;
}
.categories{
    margin: 1rem;
    width: calc(50vw - 3rem);
}

div.cart table{
    width: 80vw;
}
div.cart .w-98{
    width: 20vw;
}
.details{
    margin: 3rem;
}
.details .main_background{
    padding: 1rem;
    display: flex;
}
div.description{
    width: 40%;
}
div.buttons{
    width: 40%;
}
div.buttons button{
    width: 100%;
}

.small{
    width: 50%;
}
div.sub-categorie a{
    color: var(--font-grey);
    font-size: 1.2rem;
}