<div class="mt-3">
    <a href="{% url 'home' %}">Inicio</a>              
</div>
<div class="dropdown mt-3">
    <a class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Categorias
    </a>
    <ul class="dropdown-menu cat" aria-labelledby="dropdownMenuButton">
        {% for categorie in categories %}
        <li><a class="dropdown-item" href="{% url 'categories' %}">{{categorie}}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="mt-3">
    <a href="#">Carrito</a>
</div>
<div class="mt-3">
    <a href="#">Contacto</a>
</div>