{% extends 'adm/base.html' %}

{% block body %}

<h1>Publicidad</h1>
<h2>Banner Publicitario</h2>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">Agregar Banner</button>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel">Agregar banner</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <form action="{% url 'adm:upload_banner' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <p>Se recomienda en formato PNG medidas 1000px x 500px</p>
            <input type="submit" class="btn btn-primary" value="Subir">
        </form>

      </div>
    </div>
  </div>

{% endblock body %}
