{% load static %}

<div class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 160px;">
    <a href="{% url 'adm:index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="{% static 'inicio/Images/logo.png' %}" alt="Ikigai Manga" width="100">
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link text-white" aria-current="page">
            <i class="bi bi-house-door"></i>
          Tienda
        </a>
      </li>
      <li>
        <a href="{% url 'adm:index' %}" class="nav-link text-white">
            <i class="bi bi-speedometer2"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="{% url 'adm:orders' %}" class="nav-link text-white">
            <i class="bi bi-table"></i>
          Pedidos
        </a>
      </li>
      <li>
        <a href="{% url 'adm:category' %}" class="nav-link text-white">
          <i class="bi bi-tag"></i>
          Categorias
        </a>
      </li>
      <li>
        <a href="{% url 'adm:products' %}" class="nav-link text-white">
            <i class="bi bi-grid"></i>
          Productos
        </a>
      </li>
      <li>
        <a href="{% url 'adm:parcel' %}" class="nav-link text-white">
          <i class="bi bi-truck"></i>
          Paqueteria
        </a>
      </li>
      <li>
        <a href="{% url 'adm:users' %}" class="nav-link text-white">
            <i class="bi bi-person-circle"></i>
          Users
        </a>
      </li>
      <li>
        <a href="{% url 'adm:ads' %}" class="nav-link text-white">
            <i class="bi bi-megaphone"></i>
          Ads
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        {% if user.first_name %}
        <strong>{{user.first_name}}</strong>
        {% else %}
        <strong>{{user.username}}</strong>
        {% endif %}
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>

  <div class="b-example-divider b-example-vr"></div>
</div>


