{% extends 'adm/base.html' %}
{% load static %}
{% block body %}
<h1>Detalles del pedido #{{object.order}}</h1>
<h2>General</h2>
<div class="p-3">
    <h5>Fecha de Creación:</h5>
    <p>{{object.creation_date}}</p>

    <h5>Estado:</h5>
    <p>{{object.status}}</p>

    <h5>Cliente:</h5>
    <div class="d-flex">
        <div class="p-3">
            <h6>Nombre:</h6>
            <p>
            {{object.customer.first_name}} {{object.customer.last_name}} 
            (#{{object.customer.id}} - {{object.customer.email}})
            </p>
        </div>
        <div class="p-3">
            <h6>Teléfono:</h6>
            <p>{{object.customer.userdetail.phone}}</p>
        </div>
    </div>
</div>

<h2>Detalles del Envio</h2>
<div class="d-flex">
    <div class="p-3">
        <h6>Dirección:</h6>
        <p>{{object.customer.userdetail.address}}</p>
    </div>
    <div class="p-3">
        <h6>Casa/depto/nºinterior:</h6> 
        <p>{{object.customer.userdetail.interior_number}}</p>
    </div>
    <div class="p-3">
        <h6>Comuna:</h6>
        <p>{{object.customer.userdetail.comuna}}</p>
    </div>
    <div class="p-3">
        <h6>Región:</h6>
        <p>{{object.customer.userdetail.region}}</p>
    </div>
</div>

<h2>Detalles del Pedido</h2>
<h5>Productos</h5>
<div class="d-flex">
{% for product in products %}
    <div class="p-3">
        <img src="/media/{{product.image}}" alt="{{product.name}}" width="50">
        <p>{{product.product}}</p>
    </div>
{% endfor %}    
</div>




{% endblock body %}