{% extends 'adm/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<h1>Detalles del pedido #{{object.id}}
<a href="{% url 'adm:orders' %}" class="btn btn-warning">Volver</a>
</h1>
<div class="d-flex">
    <div>
        <h2>General</h2>
        <div class="m-3">
            <h5>Fecha de Creación:</h5>
            <p>{{object.creation_date}}</p>
        
            <h5>Estado:</h5>
            <p class="badge text-bg-{{badge}}">{{object.status}}</p>
            <h5>Cliente:</h5>
            <div class="d-flex">
                <div class="p-3">
                    <h6>Nombre:</h6>
                    <p>
                    {{object.customer.first_name}} {{object.customer.last_name}} 
                    (#{{object.customer.id}} - {{object.customer.email}})
                    </p>
                </div>
                <div class="p-3">
                    <h6>Teléfono:</h6>
                    <p>{{object.customer.userdetail.phone}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="m-3">
        <h2>Detalles del Envio</h2>
        <div class="d-flex">
            <div class="p-3">
                <h6>Dirección:</h6>
                <p>{{object.customer.userdetail.address}}</p>
            </div>
            <div class="p-3">
                <h6>Casa/depto/nºinterior:</h6> 
                <p>{{object.customer.userdetail.interior_number}}</p>
            </div>
            <div class="p-3">
                <h6>Comuna:</h6>
                <p>{{object.customer.userdetail.comuna}}</p>
            </div>
            <div class="p-3">
                <h6>Región:</h6>
                <p>{{object.customer.userdetail.region}}</p>
            </div>
        </div>
    </div>
</div>




<h2>Detalles del Pedido</h2>
<h5>Productos</h5>
<div class="d-flex">
    <table class="table table-striped table-hover">
    <thead>
        <th>Artículo</th>
        <th>Costo</th>
        <th>Cantidad</th>
        <th>Total</th>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <th><img src="/media/{{product.product.image}}" alt="{{product.product.name}}" width="50">
                 {{product.product.name}}</th>
                <th>${{product.product.price|intcomma}}</th>
                <th>x {{product.quantity}}</th>
                <th>${{product.subtotal|intcomma}}</th>
                
            </tr>
        {% endfor %} 
        <tr>
            <td colspan="2"></td>
            <td>Total:</td>
            <td>${{object.total|intcomma}}</td>
        </tr>
    </tbody>
    </table>
</div>




{% endblock body %}