{% extends 'adm/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<h1>Ordenes</h1>
<br>

<table class="table table-striped table-hover">
    <thead>
        <th>Pedido</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Total</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        
        {% for order in object_list %}
        <tr>
            <td>#{{order.id}} - {{order.customer}}</td>
            <td>{{order.creation_date}}</td>
            <td><p class="badge text-bg-{{badge}}">{{order.status}}</p></td>
            <td>${{order.total|intcomma}}</td>
            <td>
                <a href="{% url 'adm:orders_status_update' order.id %}"><i class="bi bi-pencil"></i></a>
                <a href="{% url 'adm:orders_delete' order.id %}"><i class="bi bi-trash3"></i></a>  
                <a href="{% url 'adm:orders_detail' order.id %}"><i class="bi bi-eye"></i></a>      
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}