{% extends 'adm/base.html' %}
{% block body %}
<h1>Perfil de {{object.username}}</h1>
<h4>Información Básica</h4>
<p>
    <span><b>Nombre:</b></span> 
    {{object.first_name}}
</p>
<p>
    <span><b>Apellido:</b></span> 
    {{object.last_name}}
</p>
<p>
    <span><b>E-Mail:</b></span> 
    {{object.email}}
</p>
<a href="{% url 'adm:profile_update' request.user.id %}" class="btn btn-primary">Editar</a>
<hr class="my-4">
<h4>Otros Datos</h4>
<p>
    <span><b>Telefono:</b></span> 
    {{object.userdetail.phone}}
</p>
<p>
    <span><b>Dirección:</b></span> 
    {{object.userdetail.address}} 
    #{{object.userdetail.interior_number}}, 
    {{object.userdetail.comuna}},
    {{object.userdetail.region}}
</p>
<p>
    <span><b>Foto de Perfil:</b></span> 
    <img src="/media/{{object.userdetail.image}}" alt="Foto de {{object.username}}" width="150">
</p>
<a href="{% url 'adm:check_details' request.user.id %}" class="btn btn-primary">Editar Detalles</a>
<hr class="my-4">
<a href="{% url 'adm:password_change' %}" class="btn btn-primary">Cambiar Contraseña</a>



{% endblock body %}