{% extends 'adm/base.html' %}
{% block body %}
<h1>Ajustes</h1>
<h5>Empresa</h5>
{{object.name}}
<h5>Dirección</h5>
{{object.address}}
<h5>Teléfono</h5>
{{object.phone}}
<h5>E-Mail</h5>
{{object.email}}
<h5>Logo</h5>
<img src="/media/{{object.logo}}" alt="{{object.name}}" width="100">
<br>
<br>
{% if object.name %}
<a href="{% url 'adm:settings_update' object.id %}" class="btn btn-primary">Editar</a>
{% else %}
<a href="{% url 'adm:settings_create' %}" class="btn btn-primary">Crear</a>
{% endif %}
{% endblock body %}